<div class='container '>
    <div class='row'>
        <div class='col-xs-7 hometemp'>
            <h2>Welcome to the page</h2>
            To proceed Further please LOGIN!!<span class='glyphicon glyphicon-hand-right'></span>
            <p>Lorem ipsum dolor sit amet, pro te enim abhorreant, vim ei modo quaeque accusamus. Minim pericula appellantur id sea.Vix ex minim cetero comprehensam, eros graece propriae eos ea. Tollit placerat sed in, idque detraxit vis te, amet solet congue nam id. Ea error populo pertinacia ius. At nec mazim molestie definitiones. Lorem ipsum dolor sit amet, pro te enim abhorreant, vim ei modo quaeque accusamus. Minim pericula appellantur id sea.Vix ex minim cetero comprehensam, eros graece propriae eos ea. Tollit placerat sed in, idque detraxit vis te, amet solet congue nam id. Ea error populo pertinacia ius. At nec mazim molestie definitiones.
                <p>**Random generated Text</p>
                <p>**Random generated Text</p>
            </p>
        </div>
        <div class='col-xs-4'>
            <button type="button" class="btn btn-success btn-lg logbtn" ng-click="fnDisplayLoginPage()">Login</button>
        </div>
    </div>
</div>
