<p>Todays News</p>
<p>
    <h4>Sebi wants retail participation in stock market</h4> Times of India-18-Feb-2016 Sebi wants retail participation in stock market ... identified increasing retail participation in the Indian stock markets, strengthening the rules fo</p>
<p>
    <h4>Top 3 Reasons Why The Indian Stock Market Crashed</h4> Huffington Post India-16-Feb-2016 A few days ago the United Nations pinned India as the fasted growing economy of the world. India's economy for the third quarter grew</p>
<p>
    <h4>Stock market is a slave of earnings: Saurabh Nanavati, Religare</h4> Economic Times-21-Feb-2016 It's not possible that if some big global event happens India will remain unaffected, but one has to remember that the stock market is a slave</p>
