<p>
    <h4>Russia Wins Policy Points On Ukraine, European Union And Syria. </h4> Neil MacFarquhar, The New York Times | Wednesday February 24, 2016, MOSCOW The partial truce that Russia and the United States have thrashed out in Syria capped something of a foreign policy trifecta for President Vladimir V. Putin, with the Kremlin strong-arming itself into a pivotal role in the Middle East, Ukraine floundering and the European Union developing cracks like a badly glazed pot.</p>
<p>
    <h4>Justice Department Wants Apple to Unlock Nine More iPhones</h4> Eric Lichtblau and Joseph Goldstein, The New York Times | Wednesday February 24, 2016, WASHINGTON The Justice Department is demanding Apple's help in unlocking at least nine iPhones nationwide in addition to the phone used by one of the San Bernardino, California, attackers.</p>
<p>
    <h4>Spurred By PM, BJP To Go Aggressive On JNU Debate In Parliament Today</h4> Edited by Mala Das | Wednesday February 24, 2016, New Delhi A high-decibel debate is expected when the Rajya Sabha discusses the JNU controversy from 2 pm today, Day 2 of Parliament's Budget session. At a meeting last evening, Prime Minister Narendra Modi told BJP lawmakers to "debate aggressively."</p>
<p>so more.....</p>
